{% extends 'blog/index.html' %}
<head>
    <title>Liste_Articles</title>
</head>
{% block content %}
<h3>Les dernières oeuvres dont ont parle :</h3>
<h6>{% for i in oeuvres %}
<p><h6>{{ i.nom_oeuvre }}</h6></p></br>
{% endfor %}
</div>

<div id="contenu">
<h2>Liste des articles</h2>
<div class="container">
    <div class="row justify-content-center">  
            {% for article in articles%}
                <div class="col-lg-4 mb-4">                        
                    <div class="card bg-color" style="width: 18rem;">
                        <img class="card-img-top" src="{{ article.visuel_article }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'blog:article_detail' article.slug_article %}">{{article.titre_article}}</a></h5>
                                <p class="card-text">{{article.corps_article|truncatechars:100}}</p>
                                <a href="{% url 'blog:article_detail' article.slug_article %}" class="btn btn-primary text-light border-light">En savoir plus</a>
                            </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    {% include "blog/layout/paginator.html" with page=page_obj %}
</div>
{% endblock %}
